.button-panel {
  background-color: #feca57; 
  border-radius: 5px;
}

#conn-status {
  margin-bottom: 20px;
}

.box {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

input#slider{
  position: relative !important;
  width: 100%;
}

#iteration-submit {
  padding-left: 15px;
}